<div class="row">
  <div class="col-md-8 col-md-offset-2" >
  <div class="entries">
      <span class="user-info"><%= link_to gravatar_for(@entry.user,
       size: Settings.gravatar_follow), @entry.user %></span>
      <span class="user"><%= link_to @entry.user.name, @entry.user %></span>
      <span class="timestamp">
        <% if current_user? @entry.user %>
          <%= link_to t(".delete"), entry, method: :delete,
            data: {confirm: t(".confirm_delete")} %>
        <% end %>
        <%= t ".posted" %>
        <%= time_ago_in_words @entry.created_at %>
        <%= t ".ago" %>
      </span>
      <span class="content">
        <%= @entry.title %>
        <%= image_tag @entry.picture.url if @entry.picture? %>
      </span>
      <div class="panel-group" id="accordion" role="tablist"
        aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion"
                href="#collapseOne-<%= @entry.id %>"
                aria-expanded="false" aria-controls="collapseOne">
                <%= t ".comment" %>
              </a>
              <class="btn-social"><a class="js-social-share facebook" href="https://www.facebook.com/sharer/sharer.php?u=<%= yield :url %>" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true">Share</i></a>
            </h4>
          </div>
          <div id="collapseOne-<%= @entry.id %>" class="panel-collapse collapse"
            role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
               <% if @entry.comments %>
                  <% @entry.comments.each do |comment| %>
                    <% if comment.user %>
                      <span><%= link_to gravatar_for(comment.user,
                        size: Settings.gravatar_comment), comment.user %></span>
                      <span><%= link_to comment.user.name, comment.user %></span>
                    <% end %>
                    <%= comment.content %><br/>
                    <span class="timestamp">
                      <%= time_ago_in_words comment.created_at %><br/>
                    </span>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <br/><br/>
    </div>
  </div>
</div>
